<section #about id="about" class="about-section scrollSpy">
  <div class="container">
    <div
      class="about-content"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
    >
      <h2 class="title">Nosotros</h2>
      <p class="description">
        Somos una empresa dedicada a brindar el servicio de Facturación
        Electrónica a empresas de los diferentes sectores económicos a nivel
        nacional. Contamos con la aprobación del ente regulador SUNAT.
      </p>
      <div class="background-sunat"></div>
    </div>
  </div>
</section>
