<nav class="navbar right">
  <ul class="navbar-nav menu-items">
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      <i class="fa-brands fa-microsoft"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end animate slideIn dropdown-quick-actions">
        <div class="quick-actions">
          <div class="quick-actions--header">
            <h5 class="mb-3">Acciones Rápidas</h5>
            <span class="py-2 px-3">25 Tareas Pendientes</span>
          </div>
          <div class="quick-actions--actions">
            <div class="col-6 action">
              <a href="">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <span>Nuevo Comprobante</span>
              </a>
            </div>
            <div class="col-6 action">
              <a href="">
                <i class="fa-brands fa-product-hunt"></i>
                <span>Nuevo Producto</span>
              </a>
            </div>
            <div class="col-6 action">
              <a href="">
                <i class="fa-solid fa-sack-dollar"></i>
                <span>Nuevo Compra</span>
              </a>
            </div>
            <div class="col-6 action">
              <a href="">
                <i class="fa-solid fa-plus"></i>
                <span>Nuevo Comprobante</span>
              </a>
            </div>
          </div>
        </div>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-user"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end animate slideIn">
        <li>
          <a class="dropdown-item user px-3">
            <div class="user--picture">
              <img
                src="./../../../../assets/img/any/user.jpg"
                alt="user_photo"
              />
            </div>
            <div class="user--info">
              <div class="user-name">Max Smith</div>
              <div class="user-email">max@jsmartsol.com</div>
            </div>
          </a>
          <div class="separator my-2"></div>
        </li>
        <li><a class="dropdown-item">Mis pagos</a></li>
        <li><a class="dropdown-item logout">Salir</a></li>
      </ul>
    </li>
  </ul>
</nav>

<!-- <nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="container">
      <div class="right">
        <ul class="navbar-nav menu-items">
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-bell"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end animate slideIn">
              <li><a class="dropdown-item">Action</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end animate slideIn">
              <li><a class="dropdown-item">Action</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->
