<section id="footer" class="footer-section">
  <div class="container">
    <div class="footer--container">
      <!-- <div class="footer--informations">
        <div class="images">
          <img
            src="./../../../../assets/img/sections/footer/sunat.png"
            alt=""
          />
        </div>
        <div class="footer--networking">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" href="https://www.facebook.com/jsmartsol" target="_blank" class="nav-link"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li class="nav-item">
              <a href="https://www.instagram.com/jjsmartsolutions" target="_blank" class="nav-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="nav-item">
              <a href="https://wa.link/mvmegt" target="_blank" class="nav-link"
                ><i class="fa-brands fa-whatsapp"></i></a>
            </li>
          </ul>
        </div>
      </div> -->
      <div class="footer--copyright">
        <i class="fa-solid fa-copyright"></i> J & J Smart Solutions 2022
      </div>
    </div>
  </div>
</section>
