<section #home id="home" class="home-section scrollSpy">
  <div class="container">
    <div class="banner-content col-lg-4">
      <h1 itemprop="name">
        Servicios de
        <span class="banner-content--marked">Facturación Electrónica</span> y
        sistemas de
        <span class="banner-content--marked">Gestión Empresarial</span>
      </h1>
      <p>
        <span class="banner-content--marked">Dile adiós al papel!</span> Emite
        tus comprobantes electrónicos de manera fácil, rápida y segura.
      </p>
      <a class="btn btn-primary btn-primary-custom" href="#contact">
        Contáctanos
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </div>
    <div class="img-content col-lg-8">
      <img src="./../../../../assets/img/sections/home/home.png" alt="" />
    </div>
  </div>
</section>
