<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div class="normal-search">
          <input type="search" placeholder="Buscar..." class="search" name="" id="" />
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fa-regular fa-bell menu-icon"></i>
          </button>
          <button class="head-menu-item-btn ripple">
            <i class="fa-regular fa-comment menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img src="./../../../../assets/img/any/Yo.jpg" alt="User" class="user-avatar">
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>
